@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

/* animation */ 

@keyframes fade-in {
  0% {
    transform: translateY(10px);
  } 
  100%{
    transform: translate(0);
  }
}

@keyframes pressAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0);
  }
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-thumb{
  background-color: #a4a4a4;
  width: 6px;
}


/*  Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-family: 'Roboto Slab', sans-serif;
}
body{
  font-family: 'Roboto Slab', sans-serif;
}

.card{
  width: 40rem;
  animation: fade-in 0.4s;
  overflow-y: auto ;
}

/* temperature */
.temp{
  transition: all 1s linear;
}

.toggle-container input{
  opacity: 0;
  position: absolute;
}

.slider{
  position: relative;
  display: block;
  width: 40px;
  height: 10px;
  border-radius: 10px;
  background-color: #bec2e2;
  cursor: pointer;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.slider::before{
  content: "\2103";
  position: absolute;
  font-size: 12px;
  color: #3d4795 ;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  background-color: #f2efef;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.toggle-container input:checked + label {
  background-color: #d2c6d7;
}

.toggle-container input:checked + label::before {
  content: "\2109";
  right: 20px;
}

/* search places */

.navigation{
  height: 2rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 11px;
}

.search-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-icon{
  font-size: 13px;
  position: absolute;
  color: #717479;
  left: 380px;
  top: 35px;
  opacity: 0.7;
  z-index: 1;
}

.search-input{
  position: relative;
  height: 28px;
  width: 234px;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.9;
  border: none;
  outline: none;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding: 3px 0 4px 30px;
}

.search-input:focus{
  outline: 1.5px solid #F1C40F;
}


.search-input::placeholder{
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 1px;
  opacity: 0.8;
}

.suggested-places-holder{
  position: absolute;
  top: 54px;
  display: flex;
  width: 234px;
  max-height: 80px;
  font-size: 12px;
  font-weight: 400;
  color: #6c6c6d;
  justify-content: center;
  overflow-y: auto;
  border-top: none;
  border-radius: 3px;
  background-color: #fff;
  overflow-x: hidden;
}

.nothing-found{
  text-align: center;
}

.suggested-places{  
  display: flex;
  width: 100%;
  flex-direction: column;
}
.suggested-places div{
  margin: 1px;
}
.place-card{
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 400;
  background-color: #e9e8f1;
  margin: .8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
  animation: pressAnimation 0.3s;
}

.place-card:hover{
  background-color: #cacacc ;
}
/* .place-card:active{
  transform: translateY(3px);
} */
/* Upcoming day details */

.day-text{
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.date-text{
  font-size: 10px;
  font-weight: 400;
  margin-top: 0;
  opacity: 0.8;
  
}

.day-icon{
  display: block;
  height: 50px;
  width: 50px;
  margin: 0;
}

.day-condition-text{
  font-size: 13px;
  font-weight: 400;
  margin: 7px 0 0 0;
}

.day-temp{
  font-size: 12px;
  font-weight: 400;
  margin: 0px 0px 5px 0px;
}

.day-card{
  height: 10rem;
  width: 8rem;
  color: #F6F6F9;
  overflow-y: hidden;
  border: 1px solid rgba(255, 255, 255,0.25);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(18px);
  border-radius: 5px;
  transition: all 0.3s ease;
}
.day-card:hover{
  transform: scale(1.1);
}

/* other details */

.other-details-card{
  width: 100%;
  color: #F6F6F9;
  overflow-y: hidden;
  border: 1px solid rgba(255, 255, 255,0.25);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(18px);
  border-radius: 7px;
}

/* media queries */
@media(max-width: 1200px){
  body{
    background-size: contain;
  }
}
@media(max-width: 780px){
  .card{
    width: 100%;
    margin-top: 2rem;
  }

  .search-icon{
    left: 255px;
  }
}

@media(max-width: 575px){
  .search-icon{
    left: 50px !important;
  }
}